<!-- Modal -->
<div id="miscInfoModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title">What can this include</h5>
      </div>
      <div class="modal-body">
        <p>Try</p>
        <ul>
        	<li>Payment acceptance</li>
        	<li>Admin portal (update site content/blog)</li>
        	<li>Calendar & Appointment setup</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>